/**** Mobile First Media Queries ****/


/*** Up to 5200px 25% ***/
@media only screen and (max-width: 325em) {
  
body {
    font-size: 400%;
} 
}

/*** Up to 3904px 33% ***/
@media only screen and (max-width: 244em) {
    
body {
     font-size: 300.5%;
}         
}

/*** Up to 2640px 50% ***/
@media only screen and (max-width: 165em) {
    
body {
     font-size: 200%;
}   
}

/*** Up to 2000px 67% ***/
@media only screen and (max-width: 125em) {
    
body {
     font-size: 150.2%;
}     
}

/*** Up to 1840px 75% ***/
@media only screen and (max-width: 115em) {
 
body {
     font-size: 133.3%;
}        
}

/*** Up to 1520px 90% ***/
@media only screen and (max-width: 95em) {
 
body {
     font-size: 111.1%;
}        
}

/*** Up to 1360px 100% ***/
@media only screen and (max-width: 85em) {
   
body {
    font-size: 95%;
} 
}
    
/*** Up to 1280px 100% ***/    
@media only screen and (max-width: 80em) {
    
body {
    font-size: 95%;
} 
}

/*** Up to 1200px 110% ***/
@media only screen and (max-width: 75em) {
  
body {
    font-size: 90%;
}   
}

/*** Up to 1120px ***/
@media only screen and (max-width: 70em) {
  
body {
    font-size: 90%;  
}         
}

/*** Up to 1040px 125% ***/
@media only screen and (max-width: 65em) {
    
body {
     font-size: 100%;
}      
}

/*** Up to 976px ***/
@media only screen and (max-width: 61em) {
  
body {
    font-size: 89%;
}
}

/*** Up to 880px 150% ***/
@media only screen and (max-width: 55em) {
  
body {
   font-size: 100%;
    
} 
    
/* Landing View */    
    
.marquee {
    width: 60%;
    margin: 0 20% 0 0;
} 

.buytickets_home {
    width: 40%;
    margin: 0 10% 0 45%;
}          
}


/************ Change Format ************/


/*** Up to 800px 175% ***/
@media only screen and (max-width: 50em) {
 
body {
    font-size: 92%;
} 
    
#container2 {
    width: 100%;
    margin: 0 auto;
}  
    
h3 {
    margin-top: -4%;
}
    
h4 {
    padding: 0 0 4% 0;
}
    
#map {
    padding-bottom: 40%;
}
    
.rwd_break_800 {
    display: inline;
}
    
/* Secondary Pages */   
    
.srt_page {
    width: 60%;
}
    
.page_content, .partner_content {
    width: 100%;
    margin: 5% 0;
    float: none;
}

.page_content img {
    width: 60%;
    margin: 0 20%;
}

.page_content p, .partner_content p {
    text-align: justify;
}   
    
.page_content > .lt_800 {
    text-align: left;
}
    
.page_content > .c_800 {
    text-align: center;
}  
    
.margin_top {
    padding-top: 0%;
}    
    
.page_content2 {
    clear: both;
    width: 90%;
    margin: 0 5%;
    display: block;
}    
    
.page_content2 ul {
    width: 100%;
    margin-bottom: 4%;
    text-align: center;
}    
   
.flex_grid {
  display: block;
}

.flex_grid .partner_content {
  width: 100%;
}      
    
}

/*** Up to 720px ***/
@media only screen and (max-width: 45em) {
 
body {
    font-size: 90%;
}  
    
h1 {
    font-size: 3em;
}    
}

/*** Up to 640px ***/
@media only screen and (max-width: 40em) {
    
body {
    font-size: 89%;
}  
    
.rwd_break_640 {
    display: inline;
}    
    
/* Footer */
    
#footer{
    height: auto;
}

.logo {
    width: 100%;
    margin: 0 auto;
    float: none;
}
    
#social, #footer_menu {
    width: 90%;
    margin: 0 5%;
    padding: 2% 0;
    float: none;
    position: relative;
    top: 0;
    transform: translateY(0);
}  
    
#footer_menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}  
    
.flex {
    width: 33%;
    padding-bottom: 2%;
}
    
.index_flex {
    width: 50%;
    padding-bottom: 2%;
}

.social_media {
    width: 20%;
    padding: 4% 6% 0 6%;
}   

#copyright {
    padding: 2% 0;
}

#copyright li {
    display: block;
    width:  100%;
    margin: 0 auto;
}        
}

/*** Up to 560px ***/
@media only screen and (max-width: 35em) {
  
body {
    font-size: 85%;
}  
    
h2, h5 {
    text-align: center;
}
    
h3 {
    margin-top: -5%;
}  
    
h4 {
    width: 90%;
    margin: 0 5%;
    padding-bottom: 8%;
}    
    
/* Landing View */    
    
.marquee {
    width: 70%;
    margin: 0 15%;
} 

.buytickets_home {
    width: 45%;
    margin: 0 25% 0 25%;
}
    
/* Find Us */    
    
#find_us {
    display: block;
    padding-top: 1em;
}

#map {
    width: 90%;
    margin: 0 5%;
    float: none;
    position: relative;
    padding-bottom: 70%;
}

#address {
    display: none;
}
    
#address_mobile {
    display: block;
    max-width: 100%;
    width: 90%;
    margin: 0 5%;
    padding: 0 0 4% 0;
    float: none;
}

#address_mobile p {
    text-align: center;
}     
    
/* Secondary Pages */

.srt_page {
    width: 84%;
    margin: 4% 8%;
}     
  
.page_content img {
    width: 100%;
    margin: 0 0 5% 0;
}     
    
.page_content ul, .page_content2 ul, .page_content > .rt_800 {
    text-align: center;
}
    
.full_width p {
    width: 95%;
    margin: 0 2.5%;
}
    
.full_width p, .page_content p, .page_content2 p {
    margin-bottom: 5%;
}    
     
}

/*** Up to 480px ***/
@media only screen and (max-width: 30em) {
    
body {
    font-size: 90%
} 
  
h3 {
    font-size: 2.6em;
}     
    
p, h4.font_25 {
    font-size: 1.4em;
}
    
p.font_25 {
    font-size: 1.55em;
}
    
ul li {
    font-size: 1.2em;
}   
    
/* Landing View */    

.buytickets_home {
    width: 50%;
    margin: 0 25% 0 25%;
}        
   
}

/*** Up to 400px ***/
@media only screen and (max-width: 25em) {

body {
    font-size: 85%;
}  
     
}

/*** Up to 336px ***/
@media only screen and (max-width: 21em) {
   
body {
    font-size: 74%;
}  
 
h3 {
    font-size: 2.5em;
}       
    
h4 {
    padding-top: 8%;
}
}

/*** Up to 256px ***/
@media only screen and (max-width: 16em) {
   
body {
    font-size: 60%;
}   
}

/*** Up to 224px ***/
@media only screen and (max-width: 14em) {

body {
    font-size: 50%;
}    
    
/* Top*/

#top {
    height: 12em;
}   
}