/**** Mobile First Media Queries ****/


/*** Up to 5200px 25% ***/
@media only screen and (max-width: 325em) {
  
body {
    font-size: 400%;
} 
}

/*** Up to 3904px 33% ***/
@media only screen and (max-width: 244em) {
    
body {
     font-size: 300.5%;
}         
}

/*** Up to 2640px 50% ***/
@media only screen and (max-width: 165em) {
    
body {
     font-size: 200%;
}   
}

/*** Up to 2000px 67% ***/
@media only screen and (max-width: 125em) {
    
body {
     font-size: 150.2%;
}     
}

/*** Up to 1840px 75% ***/
@media only screen and (max-width: 115em) {
 
body {
     font-size: 133.3%;
}        
}

/*** Up to 1520px 90% ***/
@media only screen and (max-width: 95em) {
 
body {
     font-size: 111.1%;
}        
}

/*** Up to 1360px 100% ***/
@media only screen and (max-width: 85em) {
   
body {
    font-size: 95%;
} 
}
    
/*** Up to 1280px 100% ***/    
@media only screen and (max-width: 80em) {
    
body {
    font-size: 95%;
} 
}

/*** Up to 1200px 110% ***/
@media only screen and (max-width: 75em) {
  
body {
    font-size: 90%;
}   
}

/*** Up to 1120px ***/
@media only screen and (max-width: 70em) {
  
body {
    font-size: 90%;  
} 
    
.content_dark_flex ul, .content_light_flex ul {
    flex-basis: 50%;
    padding-bottom: 2%;
}        
}

/*** Up to 1040px 125% ***/
@media only screen and (max-width: 65em) {
    
body {
     font-size: 89%;
}      
}

/*** Up to 976px ***/
@media only screen and (max-width: 61em) {
  
body {
    font-size: 89%;
}
    
.rwd_break_976 {
    display: inline;
}
    
.content_dark > img, .content_light > img, .content_light .image_right {
    width: 40%;
}  
    
.content_light_flex p, .content_dark_flex p {
    flex-basis: 50%;
    padding-bottom: 2%;
}          
    
.logo {
    width: 30%;
}   
    
#footer_menu {
    width: 68%;
} 
    
.social_media {
    width: 12%;
}    
}

/*** Up to 880px 150% ***/
@media only screen and (max-width: 55em) {
  
body {
   font-size: 98%;
    
} 
    
/* Landing View */    
    
.marquee {
    width: 40%;
    margin: 0 40% 0 0;
} 

.buytickets_home {
    width: 30%;
    margin: 0 0 0 45%;
}          
}


/************ Change Format ************/


/*** Up to 800px 175% ***/
@media only screen and (max-width: 50em) {
 
body {
    font-size: 88%;
} 
    
/* Landing View */    
    
.marquee {
    width: 45%;
    margin: 0 35% 0 0;
} 

.buytickets_home {
    width: 30%;
    margin: 0 0 0 45%;
}          
    
#page_curtains > .leftcurtain, #page_curtains > .rightcurtain {
   display: none;
}
    
#container2 {
    width: 100%;
    margin: 0 auto;
}  

.srt_page {
    display: none;
} 
    
.srt_mobile {
    display: block;
    width: 37%;
    margin-left: 3%;
}

h3.page_header {
    font-size: 3em;
    right: 5%;
}      
    
#map {
    padding-bottom: 40%;
}
    
.rwd_break_800 {
    display: inline;
}
    
/* Secondary Pages */   

.content_dark h2, .content_light h2 {
    margin: 3% 5% 3% 0;
}               
}

/*** Up to 720px ***/
@media only screen and (max-width: 45em) {
 
body {
    font-size: 90%;
} 
    
.home_flex div, .show_flex div {
    flex-basis: 46%;
}     
    
.social_media {
    width: 15%;
} 
}

/*** Up to 640px ***/
@media only screen and (max-width: 40em) {
    
body {
    font-size: 89%;
}  
    
.rwd_break_640 {
    display: inline;
}  
    
.rwd_break_976 {
    display: none;
}      
    
}

/*** Up to 560px ***/
@media only screen and (max-width: 35em) {
  
body {
    font-size: 85%;
}  
    
h2, h5 {
    text-align: center;
}
    
h3 {
    margin-top: -5%;
}  
    
h4 {
    width: 90%;
    margin: 0 5%;
    padding-bottom: 8%;
}    
    
/* Landing View */    
    
.marquee {
    width: 70%;
    margin: 0 15%;
} 

.buytickets_home {
    width: 45%;
    margin: 0 25% 0 25%;
}
    
.home_flex div, .show_flex div {
    flex-basis: 100%;
    padding-bottom: 4%;
} 
    
/* Find Us */    
    
#find_us {
    display: block;
    padding-top: 1em;
}

#map {
    width: 90%;
    margin: 0 5% 4% 5%;
    float: none;
    position: relative;
    padding-bottom: 70%;
}

#address {
    display: none;
}
    
#address_mobile {
    display: block;
    max-width: 100%;
    width: 90%;
    margin: 0 5%;
    padding: 0 0 4% 0;
    float: none;
}

#address_mobile p {
    text-align: center;
}     
    
/* Secondary Pages */
    
#header {
    height: auto;
}
    
.srt_mobile {
    width: 40%;
    margin: 0;
}

h3.page_header {
    position: relative;
}  
    
.content_dark h2, .content_light h2 {
    text-align: center;
    margin: 4% 0 2% 0;
}

.content_dark > img, .content_light > img {
    width: 90%;
    margin: 0 5% 4% 5%;
    float: none;
} 
    
.content_light .image_right {
    width: 90%;
    margin: 0 5% 4% 5%;
    float: none;
} 
    
.content_light .image_pad {
    padding-bottom: 0;
}
  
.content_dark > p, .content_light > p, .partner_content > p {
    margin-bottom: 4%;
}   
    
.content_light_flex p, .content_dark_flex p, .content_dark_flex ul, .content_light_flex ul {
    flex-basis: 100%;
    padding-bottom: 4%;
}     
  
    
/* Footer */ 
    
#footer {
    height: auto;
}

.logo {
    float: none; 
    width: 90%;
    margin: 5%;
    top: 0;
    transform: translateY(-0%);
}

#footer_menu {
    width: 100%;
    margin: 5% 0 10% 0;
    float: none;
    top: 0;
    transform: translateY(-0%);
}

.social_media {
    width: 15%;
}
    
#copyright {
    height: 5em;
}    
     
}

/*** Up to 480px ***/
@media only screen and (max-width: 30em) {
    
body {
    font-size: 90%
} 
  
h3 {
    font-size: 2.6em;
}     
    
p, h4.font_25 {
    font-size: 1.4em;
}
    
p.font_25 {
    font-size: 1.55em;
}  
    
.rwd_break_480 {
    display: inline;
}
    
/* Landing View */    

.h3_index {
    padding: 0 0 10% 0;
    font-size: 2.3em;
}    
    
.buytickets_home {
    width: 50%;
    margin: 0 25% 0 25%;
}        
   
}

/*** Up to 400px ***/
@media only screen and (max-width: 25em) {

body {
    font-size: 85%;
} 
    
    
.social_media {
    width: 20%;
}     
}

/*** Up to 336px ***/
@media only screen and (max-width: 21em) {
   
body {
    font-size: 74%;
}  
 
h3 {
    font-size: 2.5em;
}       
    
h4 {
    padding-top: 8%;
}
}

/*** Up to 256px ***/
@media only screen and (max-width: 16em) {
   
body {
    font-size: 60%;
}   
}

/*** Up to 224px ***/
@media only screen and (max-width: 14em) {

body {
    font-size: 50%;
}    
    
/* Top*/

#top {
    height: 12em;
}   
}