/* Cross Browser Compatability CSS */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 0.063em; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }



/* All of your setup and non media query CSS */

@font-face {
    font-family: Corbel;
    src: url(../fonts/Corbel.ttf);
}

html {
    font: normal 100% 'font name', serif;
}

body {
    width: 100%;
    margin: 0 auto;
    font-size: 100%;
    line-height: 1.625; /* 26px */
    background-color: #000000;
}

#container, #container2 {
    max-width: 105em;
    width: 80%;
    margin: 0 10%;
    overflow: hidden;
    background-color: #EFE6D2;
}

#container2 {
    background-color: #1a1a1a;
}

/* html, body, #container {
height: 100%;
overflow: auto;
} */

h1 {
    font-size: 4em;
    font-family: 'Codystar', cursive;
    text-align: center;
    color: #D0D0D0;
    letter-spacing: .08em;
}

h2 {
    font-size: 3.5em;
    font-family: 'Great Vibes', cursive;
    text-align: right;
}

h3 {
    width: 80%;
    margin: 0 10%;
    padding: 0 0 6% 0;
    font-family: 'Codystar', cursive;
    font-size: 3em;
    color: #D0D0D0;
    text-align: center;
    letter-spacing: .08em;
}

p {
    font-family: Corbel;
    font-size: 1.2em;
}

.cody {
    font-family: 'Codystar', cursive;
    letter-spacing: .08em;
}

.great {
    font-family: 'Great Vibes', cursive;
}

.white {
    color: #FAFAFA;
}

.black:link, .black:visited, .black:active {
    color: #000000; 
    text-decoration: none;
}  

.black:hover {
    color: #000000; 
    border-bottom: .02em dotted;    
}  

.white:link, .white:visited, .white:active {
    color: #FFFFFF; 
    text-decoration: none; 
}  
.white:hover {
    color: #FFFFFF; 
    border-bottom: .08em dotted 
}

.bold {
    font-weight: 900;
}

img {
    max-width: 100%;
}

.rwd_break_560 {
    display: none;
}

/* Curtain */

#curtain {
    text-align: center;
    background-image: url(../images/blackcurtain.jpg);
    background-color: #000000;
    background-size: 100% 100%;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
}

#curtain img {
    border: none;
}

.leftcurtain {
    width: 50%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 2;
}

 .rightcurtain {
    width: 51%;
    height: 100%;
    right: 0px;
    top: 0px;
    position: fixed;
    z-index: 3;
}

.rightcurtain img, .leftcurtain img {
    width: 100%;
    height: 100%;
}

/* .rope {
    position: absolute;
    top: 0;
    left: 90%;
    z-index: 4;
} */

.marquee {
    max-width: 100%;
    width: 30%;
    margin: 2% 45% 0 0%;
}

.show:link, .show:visited, .show:active {
    color: #C0C0C0; 
    text-decoration: none; 
}  
.show:hover {
    color: #C0C0C0; 
    border-bottom: .08em dotted 
}  

.font_12 {
    font-size: 1.2em;
    color: #C0C0C0;
}

.buytickets_home {
    width: 20%;
    margin: 0 5% 0 58%;
}

@-moz-document url-prefix() {
    .current_show {
        padding: 1% 0;
    }
}

/* Home Page Sections */

.section {
    max-width: 105em;
    width: 100%;
    overflow: hidden;
}

.image_top {
    width: 100%;
    margin: 0 auto;
    display: block;
}

#top p {
    width: 90%;
    margin: 0 5%;
    padding: 2% 0;
}

#content_about, #content_aud, #content_vol {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#about h2, #auditions h2, #volunteer h2 {
    margin-right: 5%;
}

.image_about, .image_aud, .image_vol {
    width: 40%;
}

#auditions {
    padding: 2% 0 5% 0;
}

#about, #volunteer {
    background-color: #D7C18E;
    padding: 2% 0 5% 0;
}

#volunteer h2 {
    margin-right: 5%;
}

#content_vol {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#find_us {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 2em;
}

#map {
    max-width: 100%;
    width: 40%;
    height: 0;
    float: left;
    position: relative;
    padding-bottom: 30%;
    overflow: hidden;
}

@-moz-document url-prefix() {
    #map {
        height: 20em;
    }
}

#map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

#address {
    max-width: 100%;
    width: 40%;
    padding: 6% 0;
    float: right;
}

#address_mobile {
    display: none;
}

#address p, #address_mobile p {
    font-size: 1.8em;
    text-align: right;
}

/* Secondary Pages */

.srt_page {
    width: 40%;
    margin: 2%;
}

.page_content {
    width: 50%;
    margin-top: 5%;
    float: left;
}

.page_content img {
    width: 90%;
    padding: 0 5%;
}

img.buytickets_page {
    width: 60%;
    margin: 2% 15%;
}

.page_content h2 {
    margin-right: 5%;
}

.page_content p {
    margin-bottom:  4%;
    padding: 0 5% 0 0;
    text-align: right;
    color: #FAFAFA;
}

.page_content2 {
    width: 100%;
    margin-top: 5%;
    display: flex;
    justify-content:center;
}

.page_content2 ul {
    width: 30%;
    list-style-type: none;
    font-family: 'Corbel';
    font-size: 1.2em;
    color: #FAFAFA;
}

/* Footer */ 

#push {
    max-width: 105em;
    width: 100%;
    height: 2em;
    margin: 0 auto;
}
    
#footer{
    max-width: 105em;
    width: 100%;
    height: 15em;
    margin: 0 auto;
    overflow: hidden;
    font-family: Corbel;
    color: #FFFFFF;
    background-color: #A60A09;
}

.logo {
    display: block;
    float: left; 
    height: 100%;
    margin: 0;
    padding: 0;
}

#footer_menu {
    width: 14%;
    float: right;
    position: relative;
    top: 51%;
    transform: translateY(-49%);
    text-shadow: 0 0.188em 0.250em #3A0000;
    text-align: center;
}

#footer_menu li {
    font-size: 1.6em;
    list-style-type: none;
} 

#social {
    width: 25%;
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

#social li {
    display: inline;
    list-style-type: none;
}

#social li a {
    border-bottom: 0;
}

.social_media {
    width: 30%;
}

#copyright {
    width: 100%;
    margin: 0 auto;
    padding: 1% 0 .75% 0;
    font-family: Corbel;
    font-size: .9em;
    color: #000000;
    text-align: center;
    background-color: #EFE6D2;
}

#copyright li {
    display: inline;
    list-style-type: none;
    padding: 0 2%;
}