/* Cross Browser Compatability CSS */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 0.063em; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }



/* All of your setup and non media query CSS */

@font-face {
    font-family: Corbel;
    src: url(../fonts/Corbel.ttf);
}

html {
    font: normal 100% 'font name', serif;
}

body {
    width: 100%;
    margin: 0 auto;
    font-family: Corbel;
    font-size: 100%;
    line-height: 1.625; /* 26px */
    background-color: #1A1A1A;
}

#container, #container2 {
    max-width: 105em;
    width: 80%;
    margin: 0 10%;
    overflow: hidden;
    background-color: #EFE6D2;
}

h1 {
    font-size: 3em;
    font-family: 'Codystar', cursive;
    text-align: center;
    color: #FAFAFA;
    letter-spacing: .08em;
}

h2 {
    font-size: 3em;
    font-family: 'Great Vibes', cursive;
}

h4 {
    font-size: 2.25em;
    font-family: 'Great Vibes', cursive;
    text-align: center;
}

img {
    max-width: 100%;
}

p, ul {
    font-size: 1.2em;
}

.font_25 {
    font-size: 1.25em;
}

.font_75 {
    font-size: 1.75em;
}

.black:link, .black:visited, .black:active {
    color: #000000; 
    text-decoration: none;
}  

.black:hover {
    color: #000000; 
    border-bottom: .02em dotted;    
}  

.white:link, .white:visited {
    color: #FAFAFA; 
    text-decoration: none; 
} 

.white:hover {
    color: #FAFAFA; 
    border-bottom: .08em dotted 
}

.bold {
    font-weight: 900;
}

.italic {
    font-style: italic;
}

.rwd_break_336, .rwd_break_480, .rwd_break_640, .rwd_break_720, .rwd_break_800, .rwd_break_976 {
    display: none;
}


/* Curtain */

#curtain {
    text-align: center;
    background-image: url(../images/blackcurtain.jpg);
    background-color: #1A1A1A;
    background-size: 100% 100%;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

#curtain img {
    border: none;
}

.leftcurtain {
    width: 50%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 2;
}

 .rightcurtain {
    width: 51%;
    height: 100%;
    right: 0px;
    top: 0px;
    position: fixed;
    z-index: 3;
}

.rightcurtain img, .leftcurtain img {
    width: 100%;
    height: 100%;
}

.marquee {
    max-width: 100%;
    width: 30%;
    margin: 0 45% 0 0%;
}

.h3_index {
    width: 80%;
    margin: 0 10%;
    padding: 0 0 2% 0;
    font-family: 'Codystar', cursive;
    font-size: 3em;
    color: #FAFAFA;
    letter-spacing: .08em;
}

@-moz-document url-prefix() {
    h3.page_index {
        margin-top: -1em;
    }
}

.show:link, .show:visited, .show:active {
    color: #FAFAFA; 
    text-decoration: none; 
}  
.show:hover {
    color: #FAFAFA; 
    border-bottom: .08em dotted 
}  

.font_12 {
    font-size: 1.2em;
    color: #FAFAFA;
}

.buytickets_home {
    width: 20%;
    margin: 0 5% 0 58%;
}

/* Home Page */

#find_us {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #D7C18E;
    padding: 1% 0;
}

#map {
    max-width: 100%;
    width: 40%;
    height: 0;
    float: left;
    position: relative;
    padding-bottom: 30%;
    overflow: hidden;
}

@-moz-document url-prefix() {
    #map {
        height: 20em;
    }
}

#map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

#address {
    max-width: 100%;
    width: 40%;
    padding: 6% 0;
    float: right;
}

#address_mobile {
    display: none;
}

#address h2 {
    text-align: right;
    margin-right: 0;
}

#address p, #address_mobile p {
    font-size: 1.5em;
    text-align: right;
}

/* Secondary Pages */

#page_curtains > .leftcurtain {
    width: 10%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 2;
}

 #page_curtains > .rightcurtain {
    width: 10%;
    height: 100%;
    right: 0px;
    top: 0px;
    position: fixed;
    z-index: 3;
}

#header {
    height: 15em;
    background-color: #1A1A1A;
    overflow: hidden;
}

.srt_page {
    display: block;
    float: left; 
    height: 100%;
    margin: 0;
    padding: 0;
}

.srt_mobile {
    display: none;
}

h3.page_header {
    font-size: 2.5em;
    font-family: 'Codystar', cursive;
    text-align: right;
    color: #FAFAFA;
    letter-spacing: .08em;
    position: relative;
    top: 55%;
    margin-right: 5%;
}

.content_light, .content_dark, .partner_content {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.content_dark {
    background-color: #D7C18E;
    padding: 0;
}

.content_dark h2, .content_light h2 {
    text-align: right;
    margin: 1% 5% 1% 0;
}

.content_dark > img, .content_light > img {
    width: 30%;
    margin: 0 5% 0 2%;
    float: right;
}

.content_light .image_pad {
    padding-bottom: 3%;
}

.content_light .image_right {
    width: 30%;
    margin: 0 5% 0 2%;
    float: right;
}

.content_dark > p, .content_light > p, .partner_content > p {
    margin: 0 5% 2% 5%;
}

.content_light ul {
    list-style-type: none;
    font-family: 'Corbel';
   
    margin: 0 5%;
}

.content_light_flex, .content_dark_flex {
    position: relative;
    width: 90%;
    margin: 0 5%;
    padding-bottom: 2%;
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
}

.content_light_flex p, .content_dark_flex p {
    flex: 1 0 33%;
}

.content_light > .center, .content_dark > .center {
    text-align: center;
}

.image_show {
    width: 60%;
    margin: 4% 20%;
}

.show_tickets {
    font-size: 2em;
    font-family: 'Great Vibes', cursive;
}

.home_flex, .show_flex {
    position: relative;
    width: 94%;
    margin: 0 3%;
    padding: 0 0 2% 0;
    display: flex;
    flex-flow: row wrap;
}

.home_flex div, .show_flex div {
    flex: 0 1 29%;
    padding: 0 2%;
}

.home_flex div img, .home_flex div p, .show_flex div h4, .show_flex div img, .show_flex div p {
    width: 100%;
}

.home_flex div h2 {
    width: 100%;
    text-align: center;
}

.partner_grid {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    margin: 1% 3%;
}

.partner_grid .partner_content {
    padding: 2%;
    flex: 1;
}

.partner_content h5 {
    font-size: 2.25em;
    font-family: 'Great Vibes', cursive;
    text-align: right;
    margin-right: 5%;
}

.partner_content p {
    margin: 0;
    padding: 0;
}

/* Footer */ 

#push {
    max-width: 105em;
    width: 100%;
    height: 0;
    margin: 0 auto;
}
    
#footer {
    max-width: 105em;
    width: 100%;
    height: 18em;
    margin: 0 auto;
    overflow: hidden;
    color: #FAFAFA;
    background-color: #A60A09;
}

.logo {
    display: block;
    float: left; 
    width: 24%;
    margin-left: 2%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#footer_menu {
    float: left;
    width: 74%;
    padding: 2% 0;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#footer_menu nav {
    margin: 2.5% 0;
}

#footer_menu  a {
    text-shadow: 0 0.188em 0.250em #3A0000;
    text-align: center;
    font-size: 1.5em;
    margin: 0 1%;
}

.social_media {
    width: 8%;
}

#copyright {
    height: 3em;
    width: 100%;
    margin: 0 auto;
    background-color: #1A1A1A;
}

#copyright ul {
    font-size: .9em;
    color: #FAFAFA;
    text-align: center;
    position: relative;
    top: 52%;
    transform: translateY(-48%);
}

#copyright li {
    display: inline;
    list-style-type: none;
    padding: 0 2%;
}